.example-card {
    max-width: 285px;
    height: 400px;
    display: flexbox; 
  }
.subtitle{
  text-align: left;
}
.mat-card-image-sized{
  margin: 10px 35px 20px 45px;
  height: 100px;
  width: auto;
}
.mat-card-text-sized{
  text-align: left;
  font-size: 14px;
  display: block;
  line-height: 15px;
  margin-left: 10px;
  margin-right : 10px;
}
.elem-footer {
  left: 50%;
  bottom: 20px;
  position: absolute;
}
