<p class="title">[NPC] Beginner Merchant</p>
<div class="content">
    <p class="description">Hello Adventurer, welcome to the town of Angular! <br />
        Here you can explore all the exciting stuff like meeting weird monster, learning new spell, and discovering rare
        item.<br />
        But first, you need some weapon/spell to accompany you along the way! <br />
        I will give you 1000 gold, so choose your weapon/spell wisely~</p>
    <mat-grid-list [cols]="breakpoint" [gutterSize]="'10px'" rowHeight="450px" (window:resize)="onResize($event)">
        <div *ngFor="let item of items">
            <mat-grid-tile>
                <app-shopping-item (onBuy)="onBuy($event)" [givenItem]="item"></app-shopping-item>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <div class="shopping-cart">
        <p class="subtitle">Added to cart:</p>
        <mat-list role="list">
            <mat-list-item *ngFor="let it of selectedItems" role="listitem">{{it.name}} <span class="item-price">{{it.price}}</span></mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <p class="total"> Total: <span class="item-price">{{total}}</span></p>
        <button mat-raised-button color="primary" class="buy">Buy</button>
    </div>